/* Set the background to match the toy */
html {
    background-color: yellow;
}

/* To make the elements inline */
.inline {
    display: inline;
}

/* The colors for the paragraphs */
#p1 {color: purple;}
#p2 {color: lightskyblue;}
#p3 {color: limegreen;}
#p4 {color: orange;}
#p5 {color: magenta;}

/* The paragraphs and shapes for the buttons */
#purple1 {
    background-color: purple;
    padding: 25px;
    margin: 30px;
    border-radius: 35px;
}
#blue2 {
    background-color: lightskyblue;
    padding: 25px;
    margin: 30px;
    border-radius: 35px;
}
#lime3 {
    background-color: limegreen;
    padding: 25px;
    margin: 30px;
    border-radius: 35px;
}
#orange4 {
    background-color: orange;
    padding: 25px;
    margin: 30px;
    border-radius: 35px;
}
#pink5 {
    background-color: magenta;
    padding: 25px;
    margin: 30px;
    border-radius: 35px;
}
#red1 {
    background-color: red;
    padding: 25px;
    margin: 30px;
    border-radius: 35px;
}
#green2 {
    background-color: green;
    padding: 25px;
    margin: 30px;
    border-radius: 35px;
}